
@media (prefers-color-scheme: light) {
  :root {
    --text-50: #f0f2f4;
    --text-100: #e1e5ea;
    --text-200: #c4cad4;
    --text-300: #a6b0bf;
    --text-400: #8996a9;
    --text-500: #6b7b94;
    --text-600: #566376;
    --text-700: #404a59;
    --text-800: #2b313b;
    --text-900: #15191e;
    --text-950: #0b0c0f;

    --background-50: #ebf2f9;
    --background-100: #d7e6f4;
    --background-200: #b0cde8;
    --background-300: #88b4dd;
    --background-400: #619bd1;
    --background-500: #3982c6;
    --background-600: #2e689e;
    --background-700: #224e77;
    --background-800: #17344f;
    --background-900: #0b1a28;
    --background-950: #060d14;

    --primary-50: #ecf2f8;
    --primary-100: #d9e6f2;
    --primary-200: #b4cce4;
    --primary-300: #8eb2d7;
    --primary-400: #6899ca;
    --primary-500: #427fbd;
    --primary-600: #356697;
    --primary-700: #284c71;
    --primary-800: #1b334b;
    --primary-900: #0d1926;
    --primary-950: #070d13;

    --secondary-50: #eaf2fa;
    --secondary-100: #d6e5f5;
    --secondary-200: #acccec;
    --secondary-300: #83b2e2;
    --secondary-400: #5a99d8;
    --secondary-500: #307fcf;
    --secondary-600: #2766a5;
    --secondary-700: #1d4c7c;
    --secondary-800: #133353;
    --secondary-900: #0a1929;
    --secondary-950: #050d15;

    --accent-50: #e5f1ff;
    --accent-100: #cce4ff;
    --accent-200: #99c9ff;
    --accent-300: #66adff;
    --accent-400: #3392ff;
    --accent-500: #0077ff;
    --accent-600: #005fcc;
    --accent-700: #004799;
    --accent-800: #003066;
    --accent-900: #001833;
    --accent-950: #000c1a;

      --text: #0d0f12;
  --background: #cbdef0;
  --primary: #25476a;
  --secondary: #7fb0e1;
  --accent: #0058bd;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-50: #0b0c0f;
    --text-100: #15191e;
    --text-200: #2a313c;
    --text-300: #3f4a5a;
    --text-400: #556377;
    --text-500: #6a7b95;
    --text-600: #8896aa;
    --text-700: #a5b0c0;
    --text-800: #c3cad5;
    --text-900: #e1e5ea;
    --text-950: #f0f2f4;

    --background-50: #060d14;
    --background-100: #0b1928;
    --background-200: #163350;
    --background-300: #224c77;
    --background-400: #2d669f;
    --background-500: #387fc7;
    --background-600: #6099d2;
    --background-700: #88b2dd;
    --background-800: #afcce9;
    --background-900: #d7e5f4;
    --background-950: #ebf2f9;

    --primary-50: #070d13;
    --primary-100: #0d1926;
    --primary-200: #1b334b;
    --primary-300: #284c71;
    --primary-400: #356697;
    --primary-500: #427fbd;
    --primary-600: #6899ca;
    --primary-700: #8eb2d7;
    --primary-800: #b4cce4;
    --primary-900: #d9e6f2;
    --primary-950: #ecf2f8;

    --secondary-50: #050d15;
    --secondary-100: #0a1929;
    --secondary-200: #133353;
    --secondary-300: #1d4c7c;
    --secondary-400: #2766a5;
    --secondary-500: #307fcf;
    --secondary-600: #5a99d8;
    --secondary-700: #83b2e2;
    --secondary-800: #acccec;
    --secondary-900: #d6e5f5;
    --secondary-950: #eaf2fa;

    --accent-50: #000c1a;
    --accent-100: #001833;
    --accent-200: #003066;
    --accent-300: #004799;
    --accent-400: #005fcc;
    --accent-500: #0077ff;
    --accent-600: #3392ff;
    --accent-700: #66adff;
    --accent-800: #99c9ff;
    --accent-900: #cce4ff;
    --accent-950: #e5f1ff;

      --text: #eef0f3;
  --background: #0f2235;
  --primary: #97b9da;
  --secondary: #1e5082;
  --accent: #429aff;

  }
}

@import url('https://fonts.googleapis.com/css?family=Baloo%202:700|Baloo%20Bhaijaan%202:400');

h1, h2, h3, h4, h5 {
  font-family: 'Baloo 2';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

